.users-table {
    display: block;
    padding: var(--gap-md);
    margin-inline: var(--gap-md);
    border-radius: var(--border-radius-md);
    &__header {
        display: grid;
        grid-template-columns: var(--table-grid-template);
        justify-items: center;
        font-size: larger;
        font-weight: bold;
        border-bottom: 1px solid var(--color-secondary);
        padding-bottom: var(--gap-md);
        &__title {
            display: flex;
            gap: var(--gap-sm);
            align-items: center;
        }
    }
    &__no-users {
        text-align: center;
        padding-block: var(--gap-md);
        font-size: large;
    }
    border: 1px solid var(--color-secondary);
}

.header {
    display: flex;
    align-items: baseline;
    gap: var(--gap-md);
    margin-inline: var(--gap-md);
    margin-block: var(--gap-md);
    input {
        height: 2rem;
        min-width: 15rem;
        font-size: large;
    }
}